<div class="temp">
  <img src="https://demo.w3layouts.com/demos_new/30-01-2017/electronic_store-demo_Free/192355906/web/images/b1.jpg" class="img-fluid">
  <div class="centered" style="font-size: 6vw">FAQ's </div>
</div>

<div class="mt-4" id="faq_detail">
  <div class="container mt-4 col-lg-8">
    <h3 class="faq_question">1. Excepteur sint occaecat cupidatat non proident ?</h3>
    <p class="faq_answer"><b>Ans.</b> But I must explain to you how all this mistaken idea of
      denouncing pleasure and praising pain was born and I will give
      you a complete account of the system, and expound the actual
      teachings of the great explorer of the truth, the master-builder
      of human happiness. No one rejects, dislikes, or avoids pleasure
      itself, because it is pleasure.</p>
  </div>

  <div class="container mt-4 col-lg-8">
    <h3 class="faq_question">2. Quis nostrum exercitationem ullam corporis suscipit ?</h3>
    <p class="faq_answer"><b>Ans.</b> But I must explain to you how all this mistaken idea of
      denouncing pleasure and praising pain was born and I will give
      you a complete account of the system, and expound the actual
      teachings of the great explorer of the truth, the master-builder
      of human happiness. No one rejects, dislikes, or avoids pleasure
      itself, because it is pleasure.</p>
  </div>

  <div class="container mt-4 col-lg-8">
    <h3 class="faq_question">3. Nemo enim ipsam voluptatem quia voluptas sit ?</h3>
    <p class="faq_answer"><b>Ans.</b> But I must explain to you how all this mistaken idea of
      denouncing pleasure and praising pain was born and I will give
      you a complete account of the system, and expound the actual
      teachings of the great explorer of the truth, the master-builder
      of human happiness. No one rejects, dislikes, or avoids pleasure
      itself, because it is pleasure.</p>
  </div>

  <div class="container mt-4 col-lg-8">
    <h3 class="faq_question">4. Ut enim ad minima veniam, quis nostrum exercitationem ?</h3>
    <p class="faq_answer"><b>Ans.</b> But I must explain to you how all this mistaken idea of
      denouncing pleasure and praising pain was born and I will give
      you a complete account of the system, and expound the actual
      teachings of the great explorer of the truth, the master-builder
      of human happiness. No one rejects, dislikes, or avoids pleasure
      itself, because it is pleasure.</p>
  </div>

  <div class="container mt-4 col-lg-8">
    <h3 class="faq_question">5. Quis autem vel eum iure reprehenderit qui ?</h3>
    <p class="faq_answer"><b>Ans.</b> But I must explain to you how all this mistaken idea of
      denouncing pleasure and praising pain was born and I will give
      you a complete account of the system, and expound the actual
      teachings of the great explorer of the truth, the master-builder
      of human happiness. No one rejects, dislikes, or avoids pleasure
      itself, because it is pleasure.</p>
  </div>
</div>
