<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5 mt-5">




  <div style="background-color: #21d192;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0" >Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic" id="onHoverclass">
            <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
          </a>
          &nbsp;
          <!-- Twitter -->
          <a class="tw-ic" class="onHoverclassTwiter">
            <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
          </a>
          &nbsp;
          <!-- Google +-->
          <a class="gplus-ic" class="onHoverclassGoogle">
            <i class="fa fa-google-plus fa-lg" aria-hidden="true"></i>
          </a>
          &nbsp;
          <!--Linkedin -->
          <a class="li-ic" class="onHoverclassLI">
            <i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i>
          </a>
          &nbsp;
          <!--Instagram-->
          <a class="ins-ic" class="onHoverclassInsta">
            <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold" style="font-family: 'Glegoo', serif;font-family: 'Glegoo', serif;font-size: 1.5em;font-weight: 500;">Company name</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="height: 1px;width: 50%;background: #3c43a4;color: #3c43a4;">
        <p style="color: #999;">Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

      </div>

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <h6 class="text-uppercase font-weight-bold">CATEGORY</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="height: 1px;width: 30%;background: #3c43a4;">
        <p><i class="fa fa-long-arrow-right"></i><a class="dark-grey-text" routerLink="/products" style="color:  #737373;; text-decoration: none;">&nbsp;
          
               MOBILES</a></p>

        <p><i class="fa fa-long-arrow-right"></i><a class="dark-grey-text" routerLink="/products" style="color:  #737373;; text-decoration: none;" >&nbsp; LAPTOP</a></p>

        <p><i class="fa fa-long-arrow-right"></i><a class="dark-grey-text" routerLink="/products" style="color:  #737373;; text-decoration: none;">&nbsp;    PURIFIERS</a></p>

        <p><i class="fa fa-long-arrow-right"></i><a class="dark-grey-text" routerLink="/products" style="color:  #737373;; text-decoration: none;">&nbsp;  KITCHEN</a></p>

      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">INFORMATION</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="height: 1px;width: 50%;background: #3c43a4;">
        <p><i class="fa fa-long-arrow-right"></i>
          <a class="dark-grey-text" data-toggle="modal" data-target="#exampleModal" href="#" (click)="checkdetails()" style="color: #737373; text-decoration: none;">&nbsp; YOUR ACCOUNT</a></p>

        <p><i class="fa fa-long-arrow-right"></i><a class="dark-grey-text" routerLink="/about" style="color: #737373; text-decoration: none;">&nbsp; ABOUT US</a></p>

        <p><i class="fa fa-long-arrow-right"></i><a class="dark-grey-text" routerLink="mailUS" style="color: #737373; text-decoration: none;">&nbsp;  CONTACT US</a>
        </p>
        <p><i class="fa fa-long-arrow-right"></i>
          <a class="dark-grey-text" routerLink="/faq" style="color: #737373; text-decoration: none;">&nbsp; FAQ's</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="height: 1px; ;width: 20%;background: #3c43a4;">
        <p>
          <i class="fa fa-home fa-lg" style="color:#21d192; "> </i><span style="color: #999;"> WZ-78, ND 10012, IN</span></p>
        <p>
          <i class="fa fa-envelope fa-lg" style="color:#21d192;"></i><span style="color: #999;"> info@example.com</span></p>
        <p>
          <i class="fa fa-phone fa-lg" style="color:#21d192 ;"></i><span style="color: #999;"> + 01 234 567 88</span> </p>

      </div>

    </div>

  </div>
  <div class="footer-copyright text-center text-black-50 py-3">© 2019 Electronic Store. All rights reserved :
    <a class="dark-grey-text" href="mailto:Mystore@electronic.com"> Mystore@electronic.com</a>
  </div>

  <div *ngIf="tocheck">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-frown-o fa-lg" aria-hidden="true"></i> OOPS!</h5>
          </div>
          <div class="modal-body">
            <i>You Have to Login First</i>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
