.top-left {
  position: absolute;
  top: 40%;
  left: 10%;
  color: white;
  font-family: 'Glegoo', serif;
  font-weight: 500;
  font-size: 2.5em;
  transform: translate(-50%, -50%);
}
#image_box{
  border: 1px solid #C0C0C0;
}

h2{
  font-family: 'Glegoo', serif;
}

#single_header{
  color: #212121;
  font-weight: 500;
  line-height: 1.1;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.rating-list li {
  float: right;
  color: #ddd;
  padding: 5px;
}

.rating-list li:hover,
.rating-list li:hover ~ li, .rating-list li.selected {
  color: #ffd700;
}

.rating-list {
  display: inline-block;
  list-style: none;
}

#single_des{
  color: #3c43a4;
  font-size: 1.3em;
  font-family: 'Glegoo', serif;
  font-weight: 500;
  line-height: 1.1;
}

#single_data{
  color: #999;
  line-height: 1.8em;
  /* margin: 1em 0 10; */
  font-family: 'Open Sans', sans-serif;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
}
.purple{
  background-color: #00008c;;
}

.brown{
  background-color: #840084
}

.pink{
  background-color: #ff00ff;
}

h5{
  color: #3c43a4;
  font-family: 'Glegoo', serif;
  font-weight: 500;
  line-height: 1.1;
}
.options :hover{
  cursor: pointer;
}
i{
  margin: 5px
}

.circle_val {
  height: 32px;
  width: 32px;
  background-color: #A9A9A9;
  border-radius: 50%;
  display: inline-block;
  font-weight: 600;
  margin-top: 5px;
  font-size: 19px;
  color: white
}

#single_add_review{
  font-family: 'Glegoo', serif;
  font-size: 1.5em;
  color: #212121;
  font-weight: 500;
  line-height: 1.1;
}

#my_box{
  background: #f3f3f3;
  padding: 20px;
  margin: 30px;
}

#reviews{
  font-family: 'Glegoo', serif;
  padding-bottom: 10px;
  font-size: 1.2em;
  color: #212121;
  font-weight: 500;
  line-height: 1.1;
}

.prod_descp{
  font-size: 1em;
  color: #212121;
  margin-bottom: 2em;
  font-family: 'Glegoo', serif;
  font-weight: 500;
  line-height: 1.1;
}

.prod_descp1 {
  color: #999;
  line-height: 1.8em;
  font-size: 14px;
}
.my_Product_Price{
  text-align: left;
  font-size: 20px;
}
