<div class="banner">
  <div class="container">
      <div class="banner-text">
          <button type="button" class="btn btn-warning text-dark btn-banner">
              Get started
          </button>
      </div>
  </div>
</div>

<div class="mt-5 container">
  <div class="row">
      <div class="col-sm-4">
          <div class="container">
              <img src="{{data.url}}" class="img-fluid" alt="Responsive image" id="image_box" />
          </div>
      </div>

      <div class="col-sm-8">
          &nbsp;
          <div class="row">
              <div class="container">
                  <h2 id="single_header">{{data.title}}</h2>
                  <!-- <h2 class="col" id="single_header">data.title</h2> -->
              </div>
          </div>

          <div class="row ml-2">
              <ul class="list-inline rating-list float-left" *ngFor="let star of stars" style="display: inline-block;">
                  <li [ngClass]="{'selected': (star <= selectedValue)}">
                      <i class="fa fa-star"></i>
                  </li>
              </ul>
          </div>

          <h3 class="single_des">
              <i>Description</i>
          </h3>
          <p class="text-justify" id="single_data">
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
              fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
          </p>

          <div class="row">
              <div class="col-sm">
                  <h5 class="mt-3 single_des"><i>Color:</i></h5>
                  <div class="mt-1 options">
                      <span class="dot"></span>
                      <span class="dot purple"></span>
                      <span class="dot brown"></span>
                      <span class="dot pink"></span>
                  </div>
              </div>
              <div class="col-sm">
                  <h5 class="mt-3 single_des"><i>Quality:</i></h5>
                  <div class="mt-1 row">
                      <div id="quantity_Icon">
                          <i class="fa fa-minus-square-o fa-2x" (click)="reduce()" aria-hidden="true" style="cursor: pointer;"></i>
                      </div>

                      <span class="circle_val text-center">{{count}}</span>

                      <div id="quantity_Icon">
                          <i class="fa fa-plus-square-o fa-2x" (click)="increase()" aria-hidden="true" style="cursor: pointer;"></i>
                      </div>
                  </div>
              </div>
          </div>

          <p class="mt-2 my_Product_Price">&#8377;<b>{{data.Price}}/-</b></p>
          <button mat-stroked-button color="primary" class="mt-3">Add to Cart</button>
      </div>
  </div>
</div>

<div class="mt-5 container">
  <div class="row pl-4">
      <div class="col align-self-start">
          <div class="row">
              <div class="col-sm">
                  <button mat-raised-button color="primary" (click)="forprod()">Product Information</button>
                  <button mat-raised-button color="accent" class="ml-2" (click)="forrev()">Reviews</button>
              </div>
          </div>
      </div>
  </div>

  <div *ngIf="evaluate">
      <div class="mt-5 container" id="my_box">
          <div class="container" style="padding: 10px;">
              <h4 id="reviews">(2) Reviews</h4>
          </div>

          <div class="row">
              <div class="col-3 text-center">
                  <img src="https://demo.w3layouts.com/demos_new/30-01-2017/electronic_store-demo_Free/192355906/web/images/t1.png" class="img-fluid" alt="Responsive image" />
              </div>
              <div class="col-7">
                  <div class="row">
                      <p>
                          Laura
                          <br />
                          <span style="color: #3c43a4;">Oct 06, 2016</span>
                      </p>
                      <p style="color: #999;">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="col-3 text-center">
                  <img src="https://demo.w3layouts.com/demos_new/30-01-2017/electronic_store-demo_Free/192355906/web/images/t2.png" class="img-fluid" alt="Responsive image" />
              </div>
              <div class="col-7">
                  <div class="row">
                      <p>
                          Michael
                          <br />
                          <span style="color: #3c43a4;">Oct 06, 2016</span>
                      </p>
                      <p style="color: #999;">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="col-3" id="single_add_review">Add A Review</div>
                    <div class="col-sm">
                        <div class="mt-2">
                      <form [formGroup]="submitComm" (ngSubmit)="submitComments()">
                         
                              <div class="col-sm mt-3">
                                  <input type="text" placeholder="Your Name" formControlName="username" class="form-control" />
                              </div>
                              <div class="col-sm mt-3">
                                  <input type="email" placeholder="Your Email" formControlName="email" class="form-control" />
                                  <div *ngIf="submitted && f.email.errors?.required" style="color: red;">Email is required</div>
                                  <div *ngIf="submitted && f.email.errors?.email" style="color: red;">Email must be valid</div>
                              </div>
                        
                              <div class="col-sm mt-3">  
                                  <textarea class=" container form-control" formControlName="comments" id="exampleFormControlTextarea1" rows="7" placeholder="Message..."></textarea>
                              </div>
                          
                          <div class="col-sm mt-3">
                              <button mat-raised-button color="accent" data-toggle="modal" data-target="#exampleModal" class="mb-5" style="padding: 0px 60px;">Submit</button>
                          </div>
                      </form>
                    </div>
                  </div>
            

             
          </div>
      </div>
  </div>
  &nbsp;
  <div *ngIf="evaluate1">
      <div class="container justify-content-center" id="my_box">
          <div class="container" style="padding: 20px;">
              <h3>
                  <span class="prod_descp"> <p style="padding: 20px 0px; font-family: 'Glegoo', serif; font-weight: 500; white-space: nowrap;">The Best 3GB RAM Mobile Phone</p></span>
              </h3>
              <span class="prod_descp1">
                  <p class="text-justify">
                      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                      aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
                      consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
                  </p>
              </span>
          </div>
      </div>
  </div>
</div>

<div *ngIf="tocheck">
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-smile-o fa-lg" aria-hidden="true"></i> SUCCESS!</h5>
              </div>
              <div class="modal-body">
                  <i>Review Saved Successfully !..</i>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>
</div>
