.banner{
  background-image:url(../../assets/electronicbanner.jpg);
  text-align: center;
  color: #fff;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  a-o-background-size: cover;
  background-size: cover;
}


.banner-text{
  padding:200px 0 150px 0;
}
.banner-heading{
  font-family: 'Lobster', cursive;
  font-size: 75px;
  font-weight: 700;
  line-height: 100px;
  margin-bottom: 30px;
  color:#fff;
}
.banner-sub-heading{
  font-family: 'Libre Baskerville', serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 50px;
  color:#fff;
}
.btn-banner{
  padding:5px 20px;
  border-radius:10px;
  font-weight:700;
  line-height:1.5;
  text-align:center;
  color:#fff;
  text-transform:uppercase;
}

#image_box{
  border: 1px solid #C0C0C0;
}

h2{
  font-family: 'Glegoo', serif;
}

#single_header{
  color: #212121;
  font-weight: 500;
  line-height: 1.1;
  font-size: 1.5em;
  padding-bottom: 10px ;
  float: left;
  font-family: 'Glegoo', serif;
  text-align: center;

}

.rating-list li {
  float: right;
  color: #ddd;
  padding: 5px;
}

.rating-list li:hover,
.rating-list li:hover ~ li, .rating-list li.selected {
  color: #ffd700;
}

.rating-list {
  display: inline-block;
  list-style: none;
}

.single_des{
  color: #3c43a4;
  font-size: 1.3em;
  font-family: 'Glegoo', serif;
  font-weight: 500;
  line-height: 1.1;
}

#single_data{
  color: #999;
  line-height: 1.8em;
  /* margin: 1em 0 10; */
  font-family: 'Open Sans', sans-serif;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
}
.purple{
  background-color: #00008c;;
}

#quantity_Icon{
  padding: 0px 10px;
}

.brown{
  background-color: #840084
}

.pink{
  background-color: #ff00ff;
}

h5{
  color: #3c43a4;
  font-family: 'Glegoo', serif;
  font-weight: 500;
  line-height: 1.1;
}
.options :hover{
  cursor: pointer;
}
i{
  margin: 5px
}

.circle_val {
  height: 32px;
  width: 32px;
  background-color:  #E5E5E5;
  border: 1px solid #E5E5E5;;
  display: inline-block;
  font-weight: 600;
  margin-top: 5px;
  font-size: 19px;
  color:#A9A9A9;
}

#single_add_review{
  font-family: 'Glegoo', serif;
  font-size: 1.5em;
  color: #212121;
  font-weight: 500;
  line-height: 1.1;
}

#my_box{
  background: #f3f3f3;
}

#reviews{
  font-family: 'Glegoo', serif;
  padding-bottom: 10px;
  font-size: 5vmin;
  color: #212121;
  font-weight: 500;
  line-height: 1.1;
}

.prod_descp{
  font-size: 5vmin;
  color: #212121;
  margin-bottom: 2em;
  font-family: 'Glegoo', serif;
  font-weight: 500;
  line-height: 1.1;
  
}

.prod_descp1 {
  color: #999;
  line-height: 1.8em;
  font-size: 14px;

}
.my_Product_Price{
  text-align: left;
  font-size: 20px;
}

