<div class="product_image">

  <img src="https://demo.w3layouts.com/demos_new/30-01-2017/electronic_store-demo_Free/192355906/web/images/bg1.jpg" class="img-fluid" alt="Responsive image">

  <div class="top-left" style="font-size:2vw;">
    GREAT OFFERS ON
    <br>
    <span style="color: red">MOBILE</span>
    <br> FLAT 35% DISCOUNT
  </div>
</div>

<div class="container-fluid mt-5">
  <div class="row">


    <div class="container col-sm-3 mb-3" style="background: #f4f4f4;
    padding: 30px;
    border-radius: 6px;">

      <!-- <h2 class="my_Product_Categories">Categories</h2> -->
<h3 style="font-size: 20px;
line-height: 20px;font-weight: 530;font-family: 'Oswald', sans-serif;" class="mt-3 mb-3"><span style="color: #232020;">SEARCH </span> <span style="color: red" >HERE</span></h3>

<div class="container">
  <div class="row">
    <input type="text" [(ngModel)]="searchText"
    class="form-control" placeholder="Search By Name.." />
  </div>
</div>


<div class="container">
  <div class="row">
    <h3 style="font-size: 20px;
line-height: 20px;font-weight: 530;font-family: 'Oswald', sans-serif;" class="mt-5 mb-3"><span style="color: #232020;"><b>PRODUCT </b></span> <span style="color: red" ><b>CATEGORIES</b></span></h3>
  </div>

  <h6>NEW ARRIVALS</h6>
  <div class="row offset-2">Mobiles</div>
  <div class="row offset-2">Laptop</div>
  <div class="row offset-2">Wearables</div>
  <div class="row offset-2">TV</div>
  <div class="row offset-2">Refrigerator</div>



  <h6>Accessories</h6>
  <div class="row offset-2">Mobiles</div>
  <div class="row offset-2">Laptop</div>
  <div class="row offset-2">Wearables</div>
  <div class="row offset-2">TV</div>
  <div class="row offset-2">Refrigerator</div>

</div>





<div class="container" id="accordion">
  <div class="row">
    <h3 style="font-size: 20px;
line-height: 20px;font-weight: 530;font-family: 'Oswald', sans-serif;" class="mt-5 mb-3"><span style="color: #232020;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">COLOR </span></h3>
  </div>


  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
  <div class="row  offset-2"><input type="checkbox" class="form-check-input"> <h6 style="color: red;">&nbsp; RED &nbsp;</h6></div>
  <div class="row offset-2"><input type="checkbox" class="form-check-input"><h6 style="color: brown;">&nbsp; BROWN</h6></div>
  <div class="row offset-2"><input type="checkbox" class="form-check-input"><h6 style="color: yellow;">&nbsp; YELLOW</h6></div>
  <div class="row offset-2"><input type="checkbox" class="form-check-input"><h6 style="color: violet;">&nbsp; VIOLET</h6></div>
  <div class="row offset-2"><input type="checkbox" class="form-check-input"><h6 style="color: orange;">&nbsp; ORANGE</h6></div>
  <div class="row offset-2"><input type="checkbox" class="form-check-input"><h6 style="color: blue;">&nbsp; BLUE</h6></div>
</div>
</div>



<div class="container">
  <div class="row">
    <h3 style="font-size: 20px;
line-height: 20px;font-weight: 530;font-family: 'Oswald', sans-serif;" class="mt-5 mb-3"><span style="color: #232020;">PRICE </span></h3>
  </div>
</div>



<div class="container" id="accordion1">
  <div class="row">
    <h3 style="font-size: 20px;
line-height: 20px;font-weight: 530;font-family: 'Oswald', sans-serif;" class="mt-5 mb-3"><span style="color: #232020;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">DISCOUNT </span></h3>
  </div>


  <div id="collapseTwo" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion1">
    <div class="row offset-2"><input type="checkbox" class="form-check-input"><h6 style="font-family: 'Lato', sans-serif;
      line-height: 18px;
      color: #6b778d">&nbsp; 15% or More &nbsp;</h6></div>
    <div class="row offset-2"><input type="checkbox" class="form-check-input"><h6 style="font-family: 'Lato', sans-serif;
      line-height: 18px;
      color: #6b778d">&nbsp; 20% or More</h6></div>
    <div class="row offset-2"><input type="checkbox" class="form-check-input"><h6 style="font-family: 'Lato', sans-serif;
      line-height: 18px;
      color: #6b778d">&nbsp; 35% or More</h6></div>
    <div class="row offset-2"><input type="checkbox" class="form-check-input"><h6 style="font-family: 'Lato', sans-serif;
      line-height: 18px;
      color: #6b778d">&nbsp; 55% or More</h6></div>
    <div class="row offset-2"><input type="checkbox" class="form-check-input"><h6 style="font-family: 'Lato', sans-serif;
      line-height: 18px;
      color: #6b778d">&nbsp; 65% or More</h6></div>
    <div class="row offset-2"><input type="checkbox" class="form-check-input"><h6 style="font-family: 'Lato', sans-serif;
      line-height: 18px;
      color: #6b778d">&nbsp; 75% or More</h6></div>
  </div>



</div>


     
    </div>






    <div class="col-sm-8">

      <div class="container product_image">
        <div class="row">
          <div class="col">

            <img src="https://demo.w3layouts.com/demos_new/30-01-2017/electronic_store-demo_Free/192355906/web/images/46.jpg" class="img-fluid">
            <div class="centered">SMART PHONES
              <br> <span style="color: red">UP TO</span>
              <br> 15% Discount
            </div>
          </div>
          <div class="col">
            <img src="https://demo.w3layouts.com/demos_new/30-01-2017/electronic_store-demo_Free/192355906/web/images/47.jpg" class="img-fluid">
            <div class="centered">TOP 10 Latest
              <br> <span style="color: red">Mobile</span>
              <br> & Accessories
            </div>
          </div>
        </div>

      </div>
      <div class="container mt-5">
        <div class="row">
          <div class="col">
            <p id="result">Showing Results: 0 - 1</p>
          </div>
          <div class="col">
            <div class="form-group">
              <select class="form-control" id="exampleFormControlSelect1" (change)="sort($event)">
                <option >SORT BY POPULARITY</option>
                <option >SORT BY AVERAGE RATING</option>
                <option>SORT BY PRICE: LOW TO HIGH</option>
                <option>SORT BY PRICE: HIGH TO LOW</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="container row card-group align-items-center">
        <div class="mt-5 col-4" @fade *ngFor="let mydata of data | sortBy : searchText">
          <div class="card">
            <a [routerLink]="['/presentation', mydata._id]">
                <div class="view overlay zoom">
                  <img src="{{mydata.url}}" class="img-fluid">
                </div>
            </a>
          </div>
          <div class="mt-3 text-center">
                    <span id="product_Name"><a class="my_Product_title" style="text-decoration: none;" (click)="callfn(mydata)" routerLink="/viewProduct" >{{mydata.title}}</a></span>
          <p class="my_Product_Price"> &#8377;<b>{{mydata.Price}}</b></p>
                     <button mat-raised-button color="primary" (click)="cart()" >Add to Cart</button>
          
        </div>
      </div>

      <div class="mt-5"></div>

    </div>
  </div>

</div>



