.img-fluid{
  width: 100%;
}
.product_image{
  position: relative;
  text-align: center;
  color: white;
}
.top-left {
  position: absolute;
  top: 98px;
  padding: 2em 0 0;
  font-size: 1.6em;
  left: 76px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.6em;
}

#result{
  font-family: 'Glegoo', serif;
  font-size: 1.4em;
  color: #212121;
  font-weight: 500;
  line-height: 1.1;
}

.my_Product_title {
  color: #ff5063;
  transition: .5s all;
  font-weight: 700;
  text-decoration: none;
  /* padding: 25px 50px 0px; */
}

#product_Name :hover{
  color: #337ab7;
  font-size: 18px;
}

.my_Product_Price{
  text-align: center;
  font-size: 20px;
}

.my_Product_Categories{
  text-align: center;
  font-family: 'Glegoo', serif;
}

mat-slider {
  width: 300px;
}


mat-slider {
  width: 250px;
}

#myhoverclass :hover {
 color: black;
}