<div class="banner">
  <div class="container">
    <div class="banner-text">
      <button type="button" class="btn btn-warning text-dark btn-banner">Get started</button>
    </div>
  </div>
</div>

&nbsp;

<div class="container mb-5 mt-5">
  <div class="row justify-content-center">

  
    <div class="col-sm justify-content-start embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/fu9ZGnKOozs?controls=1">
      </iframe>
    </div>

    <div class="col-sm-6 ml-5 justify-content-end" >
      
        <mat-tab-group>
          <mat-tab label="MOBILE">

            <div class="mt-5 container">

              <div class="mt-5 row">
                <div class="col">

                  <!-- <div class="col-md-auto"> -->


                      <img src="https://p.w3layouts.com/demos_new/30-01-2017/electronic_store-demo_Free/192355906/web/images/5.jpg" class="img-fluid" width="180px" alt="IPHONE">
                                
                   
                    <div class="mt-3">
                      <div class="text-center">
                        <mat-card-title style="color:#ff5063; font-weight: 500;font-size: 1.1em;" class="mt-5">Mobile Phone 1</mat-card-title>
                        <br>
                        <p class="mt-3">
                          <del style="color: #999;">&#8377;50000 </del>&nbsp; <b style="font-size: 20px; font-weight: 500;">&#8377;  48000</b>
                        </p>
                        <button mat-raised-button color="primary">Add To Cart</button>
                      </div>
                    </div>
                    &nbsp;
                  
                  </div>
                <!-- </div> -->

                <div class="col">
                  <img src="https://p.w3layouts.com/demos_new/30-01-2017/electronic_store-demo_Free/192355906/web/images/6.jpg" width="180px" class="img-fluid" alt="IPHONE">
                  
                  <div class="mt-3">
                    <div class="text-center">
                      <mat-card-title style="color:#ff5063; font-weight: 500;font-size: 1.1em;" class="mt-5">Mobile Phone 2</mat-card-title>
                      <br>
                      <p class="mt-3">
                        <del style="color: #999;">&#8377;45000 </del>&nbsp; <b style="font-size: 20px; font-weight: 500;">&#8377;  40000</b>
                      </p>
                      <button mat-raised-button color="primary">Add To Cart</button>
                    </div>
                  </div>
                  &nbsp;
                
                </div>

                <div class="col">
                  <img src="https://p.w3layouts.com/demos_new/30-01-2017/electronic_store-demo_Free/192355906/web/images/7.jpg" width="180px" class="img-fluid" alt="IPHONE">
                  <div class="mt-3">
                    <div class="text-center">
                      <mat-card-title style="color:#ff5063; font-weight: 500;font-size: 1.1em;" class="mt-5">Mobile Phone 3</mat-card-title>
                      <br>
                      <p class="mt-3">
                        <del style="color: #999;">&#8377;35000 </del>&nbsp; <b style="font-size: 20px; font-weight: 500;">&#8377;  32000</b>
                      </p>
                      <button mat-raised-button color="primary">Add To Cart</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </mat-tab>
          <mat-tab label="AUDIO">

            <div class="mt-5 container">

              <div class="row">
                <div class="col">

                  <img src="https://p.w3layouts.com/demos_new/30-01-2017/electronic_store-demo_Free/192355906/web/images/9.jpg" width="180px" class="img-fluid" alt="IPHONE">
                  <div class="mt-3">
                    <div class="text-center">
                      <mat-card-title style="color:#ff5063; font-weight: 500;font-size: 1.1em;" class="mt-5">HeadPhone</mat-card-title>
                      <br>
                      <p class="mt-3">
                        <del style="color: #999;">&#8377;30000 </del>&nbsp; <b style="font-size: 20px; font-weight: 500;">&#8377;  25000</b>
                      </p>
                      <button mat-raised-button color="primary">Add To Cart</button>
                    </div>
                  </div>

                </div>

              
                  <div class="col">
                  <img src="https://p.w3layouts.com/demos_new/30-01-2017/electronic_store-demo_Free/192355906/web/images/8.jpg" width="180px" alt="IPHONE" class="img-fluid">
                  <div class="mt-3">
                    <div class="mt-3 text-center">
                      <mat-card-title style="color:#ff5063; font-weight: 500;font-size: 1.1em;" class="mt-3">Speakers</mat-card-title>
                      <br>
                      <p class="mt-3">
                        <del style="color: #999;">&#8377;15000 </del>&nbsp; <b style="font-size: 20px; font-weight: 500;">&#8377;  12000</b>
                      </p>
                      <button mat-raised-button color="primary">Add To Cart</button>
                    </div>
                  </div>

                </div>
               
                  <div class="col">
                    <img src="https://p.w3layouts.com/demos_new/30-01-2017/electronic_store-demo_Free/192355906/web/images/10.jpg" width="180px"  class="img-fluid" alt="IPHONE">
                    <div class="mt-3">
                      <div class="mt-4 text-center">
                        <mat-card-title style="color:#ff5063; font-weight: 500;font-size: 1.1em;" class="mt-5">Audio Player</mat-card-title>
                        <br>
                        <p class="mt-3">
                          <del style="color: #999;">&#8377;8000 </del>&nbsp; <b style="font-size: 20px; font-weight: 500;">&#8377;  5000</b>
                        </p>
                        <button mat-raised-button color="primary">Add To Cart</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            

          </mat-tab>

          <mat-tab label="COMPUTER">
            <div class="mt-5 container">

              <div class="row">
               

                  <div class="col">
                    <img src="https://p.w3layouts.com/demos_new/30-01-2017/electronic_store-demo_Free/192355906/web/images/12.jpg" width="180px" class="img-fluid" alt="IPHONE">
                    <div class="mt-3">
                      <div class="mt-4 text-center">
                        <mat-card-title style="color:#ff5063; font-weight: 500;font-size: 1.1em;" class="mt-5">Laptop</mat-card-title>
                        <br>
                        <p class="mt-3">
                          <del style="color: #999;">&#8377;50000 </del>&nbsp; <b style="font-size: 20px; font-weight: 500;">&#8377;  45000</b>
                        </p>
                        <button mat-raised-button color="primary">Add To Cart</button>
                      </div>
                    </div>
                  </div>

                

                  <div class="col">
                    <img src="https://p.w3layouts.com/demos_new/30-01-2017/electronic_store-demo_Free/192355906/web/images/11.jpg" width="180px" class="img-fluid" alt="IPHONE">
                    <div class="mt-3">
                      <div class="mt-4 text-center">
                        <mat-card-title style="color:#ff5063; font-weight: 500;font-size: 1.1em;" class="mt-5">NoteBook</mat-card-title>
                        <br>
                        <p class="mt-3">
                          <del style="color: #999;">&#8377;35000 </del>&nbsp; <b style="font-size: 20px; font-weight: 500;">&#8377;  32000</b>
                        </p>
                        <button mat-raised-button color="primary">Add To Cart</button>
                      </div>
                    </div>
                  </div>



                <div class="col">

                  <img src="https://p.w3layouts.com/demos_new/30-01-2017/electronic_store-demo_Free/192355906/web/images/13.jpg" width="180px" class="img-fluid" alt="IPHONE">
                  <div class="mt-3">
                    <div class="mt-4 text-center">
                      <mat-card-title style="color:#ff5063; font-weight: 500;font-size: 1.1em;" class="mt-5">Kid's Toy</mat-card-title>
                      <br>
                      <p class="mt-3">
                        <del style="color: #999;">&#8377;18000 </del>&nbsp; <b style="font-size: 20px; font-weight: 500;">&#8377;  15000</b>
                      </p>
                      <button mat-raised-button color="primary">Add To Cart</button>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>

    

    </div>
  </div>
  
</div>
&nbsp;

<div class="  mt-5 mb-3" >
  <div class="row no-gutters custom-class">
    <div class="col-md-7">
      <img src="https://demo.w3layouts.com/demos_new/30-01-2017/electronic_store-demo_Free/192355906/web/images/44.jpg" class="img-fluid" alt="Responsive image" style="width: 100%; height: 100%;">
      
      <p style="font-size: 2.6vh; font-weight: 500;text-transform: capitalize;font-family: 'Glegoo', serif;position: absolute;
      top: 18%;right: 12%;">
      
      <span style="display: block;">Grand Opening Event With Flat</span>
     
        
      </p>
      <div style="white-space: nowrap;"id="discount"> 
      <span >20%</span>
      <span style="color: #212121;"> Discount</span>
     
     </div>
     
     
      <span style="display: block; letter-spacing: 2px; font-size: 1em;top:60%;position: absolute; right:18%">
        <a href="#" style="text-decoration: none;font-size: 1.3em;color: #ff5063;">SHOP NOW &#8594;</a>
      </span>
     

    </div>

    <div class="col-md-5">

      <img src="https://demo.w3layouts.com/demos_new/30-01-2017/electronic_store-demo_Free/192355906/web/images/45.jpg" class="img-fluid" style="width: 100% ;height: 100%">


<!-- 
      <div>
        <div id="timer_wrap" class="container-fluid">
          <img src="https://demo.w3layouts.com/demos_new/30-01-2017/electronic_store-demo_Free/192355906/web/images/45.jpg" class="img-fluid" style="width: 100% ;height: 400px">
        </div>

        <div class="my_data top-center">
          <p class="align_middle">HOT DEAL</p>
        </div>

        <div class="top-center_time">
          <countdown [config]="{leftTime: 86400}" style="font-size:30px;letter-spacing: 10px;color:white;padding:20px;font-family:Roboto;border-radius: 50%;border: 2px solid white;"></countdown>
        </div>

      </div>
 -->








    </div>
  </div>
</div>

<!--BRANNDS-->
<h3 style="text-align: center;font-family: 'Glegoo', serif;font-size: 40px; word-spacing: 10px;margin: 20px" class="mt-5">TOP BRANDS</h3>

<div class="container-fluid my-4" id="carousel_12">

  <div id="multi-item-example" class="mt-5 carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <!--    <div class="controls-top">-->
    <!--      <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>-->
    <!--      <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>-->
    <!--    </div>-->
    <!--/.Controls-->

    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
      <li data-target="#multi-item-example" data-slide-to="1"></li>
      <li data-target="#multi-item-example" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="https://demo.w3layouts.com/demos_new/30-01-2017/electronic_store-demo_Free/192355906/web/images/tb1.jpg"
                   alt="Card image cap">

            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="https://demo.w3layouts.com/demos_new/30-01-2017/electronic_store-demo_Free/192355906/web/images/tb4.jpg"
                   alt="Card image cap">

            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="https://demo.w3layouts.com/demos_new/30-01-2017/electronic_store-demo_Free/192355906/web/images/tb2.jpg"
                   alt="Card image cap">

            </div>
          </div>
        </div>

      </div>
      <!--/.First slide-->

      <!--Second slide-->
      <div class="carousel-item">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="https://demo.w3layouts.com/demos_new/30-01-2017/electronic_store-demo_Free/192355906/web/images/tb5.jpg"
                   alt="Card image cap">

            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="https://3.bp.blogspot.com/-W6HCVGjH1z8/WEKAqyuL-1I/AAAAAAAAGAk/IHjjD3YmIEYtCHCviFApfc8fC3Bks4BuwCK4B/w1200-h630-p-k-no-nu/General%2BVector%2BLogo.png"
                   alt="Card image cap">

            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="https://demo.w3layouts.com/demos_new/30-01-2017/electronic_store-demo_Free/192355906/web/images/tb3.jpg"
                   alt="Card image cap">

            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
